<div class='business-card'>
    <div class='content'>
      <div class='top'>
        <div class='name'>Nelson Lozano</div>
        <div class='profession'>Front end developer</div>
      </div>
      <div class='bottom'>
        <div class='left'>
          <div class='email'>lozanomasuno@gmail.com</div>
          <div class='phone'>+573145098663</div>
          <div class='website'>github/lozanomasuno</div>
        </div>
        <div class='right'>
          <div class='location'>Medellín, CO</div>
        </div>
      </div>
    </div>
    <div class='background'>
      <div class='slice'></div>
    </div>
  </div>
  