<div class="d-flex justify-content-center">
    <ul class="navbar">
        <li class="pr-3" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
           <a [routerLink]="['/home']">Home </a>  |
        </li>
        <li class="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/kansas']"  routerLinkActive="active">Kansas </a>  |
        </li>
        <li class="pl-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/columbia']"  routerLinkActive="active">Columbia </a>  |
        </li>
    </ul >    
</div>
